<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= anime.title %> | MyAnimeTracker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <%- include('../partials/_navbar') %>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="box">
            <h1 class="title"><%= anime.title %></h1>
            
            <div class="content">
              <div class="tags has-addons">
                <span class="tag is-dark">Status</span>
                <span class="tag <%= getStatusTagClass(anime.status) %>">
                  <%= statusDisplay[anime.status] %>
                </span>
              </div>

              <div class="tags has-addons">
                <span class="tag is-dark">Progress</span>
                <span class="tag is-info">
                  <%= anime.episodesWatched %>/<%= anime.episodes || '?' %> episodes
                </span>
              </div>

              <% if (anime.score) { %>
                <div class="tags has-addons">
                  <span class="tag is-dark">Rating</span>
                  <span class="tag is-warning">
                    <%= anime.score %>/10
                  </span>
                </div>
              <% } %>

              <% if (anime.favorite) { %>
                <div class="tags has-addons">
                  <span class="tag is-dark">Favorite</span>
                  <span class="tag is-warning">
                    <span class="icon">
                      <i class="fas fa-star"></i>
                    </span>
                  </span>
                </div>
              <% } %>

              <% if (anime.review) { %>
                <article class="message">
                  <div class="message-header">
                    <p>My Review</p>
                  </div>
                  <div class="message-body">
                    <%= anime.review %>
                  </div>
                </article>
              <% } %>

              <div class="buttons">
                <a href="/users/<%= user._id %>/anime/<%= anime._id %>/edit" 
                   class="button is-warning">
                  Edit
                </a>
                <form action="/users/<%= user._id %>/anime/<%= anime._id %>?_method=DELETE" 
                      method="POST" 
                      class="is-inline-block">
                  <button type="submit" class="button is-danger">
                    Delete
                  </button>
                </form>
                <a href="/users/<%= user._id %>/anime" class="button is-light">
                  Back to List
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partials/_footer') %>

  <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
</body>
</html>