<%- include('../partials/header') %>

<section class="section">
  <div class="container">
    <h1 class="title has-text-white">Edit Anime</h1>

    <form action="/users/<%= user._id %>/anime/<%= anime._id %>?_method=PUT" method="POST">
      <div class="field">
        <label class="label has-text-white">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" value="<%= anime.title %>" required>
        </div>
      </div>

      <div class="field">
        <label class="label has-text-white">Episodes Watched</label>
        <div class="control">
          <input class="input" type="number" name="episodesWatched" value="<%= anime.episodesWatched %>" min="0" required>
        </div>
      </div>

      <div class="field">
        <label class="label has-text-white">Status</label>
        <div class="control">
          <div class="select">
            <select name="status">
              <option <%= anime.status === 'Watching' ? 'selected' : '' %>>Watching</option>
              <option <%= anime.status === 'Completed' ? 'selected' : '' %>>Completed</option>
              <option <%= anime.status === 'Plan to Watch' ? 'selected' : '' %>>Plan to Watch</option>
            </select>
          </div>
        </div>
      </div>

      <div class="control mt-4">
        <button class="button is-success" type="submit">Update Anime</button>
      </div>
    </form>
  </div>
</section>

<%- include('../partials/footer') %>


